.popup {
  position: fixed;
  background-color: white;
  z-index: 100;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 20%;
  height: 20vh;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  font-size: 1.3rem;
}
